<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.testcy.mapper.CatMapper">
<!--    <select id="getById" resultType="com.testcy.bean.Cat">
        select id, cname name, cage age, cgender gender
        from t_cat
        where id = #{id}
    </select>-->

<!--    使用resultMap属性指定自定义的结果集id-->
    <select id="getById" resultMap="Cat">
        select * from t_cat where id=#{id}
    </select>

    <!--    自定义结果集-->
    <resultMap  type="com.testcy.bean.Cat" id="Cat">
<!--        指定主键列-->
        <id property="id" column="id"></id>

        <result property="name" column="cName"></result>
        <result property="age" column="cAge"></result>
        <result property="gender" column="cGender"></result>

    </resultMap>

</mapper>