<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.testcy.mapper.KeyMapper">
    <select id="getKeyById" resultMap="mykey">
        SELECT k.id, k.keyname, k.lockid, l.id lid, l.lockname
        FROM `t_key` `k`
                 LEFT JOIN
             `t_lock` `l` ON k.lockid = l.id
        WHERE k.id = #{id}
    </select>
    <!--    方式一级联属性查询-->
    <!--
    <resultMap id="mykey" type="com.testcy.bean.Key">
        <id property="id" column="id"></id>
        <result property="keyName" column="keyname"></result>
        <result property="lock.id" column="lockid"></result>
        <result property="lock.lockName" column="lockname"></result>
        <result property="lock.id" column="lid"></result>
    </resultMap>-->

    <!--    方式二-->
    <resultMap id="mykey" type="com.testcy.bean.Key">
        <id property="id" column="id"></id>
        <result property="keyName" column="keyName"></result>
        <association property="lock" javaType="com.testcy.bean.Lock">
            <id property="id" column="id"></id>
            <result property="lockName" column="lockName"></result>
        </association>
    </resultMap>



</mapper>